*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/build
build_output.log
build_output.txt
temp_src/
temp_src2/
# Built application files
*.apk
*.aar
*.ap_
*.aab

# OS files
Thumbs.db

# Docs
docs/

# Log Files
*.log

# Android Studio / IDEA IDE
.idea/
!.idea/codeStyles/
!.idea/dictionaries/
!.idea/inspectionProfiles/
!.idea/runConfigurations/

.claude/
